{
    "name": "SYN_THEME_NAME",
    "background": "SYN_BG",
    "foreground": "SYN_TEXT",
    "cursorColor": "SYN_ACCENT",
    "selectionBackground": "SYN_PANEL_HOVER",
    "black": "SYN_BG_ALT",
    "brightBlack": "SYN_BORDER",
    "red": "SYN_ACCENT",
    "brightRed": "SYN_URGENT",
    "green": "#5f8787",
    "brightGreen": "#87afaf",
    "yellow": "#af8700",
    "brightYellow": "#d7af00",
    "blue": "#5f5f87",
    "brightBlue": "#8787af",
    "purple": "SYN_ACCENT_DIM",
    "brightPurple": "SYN_PANEL",
    "cyan": "#5f8787",
    "brightCyan": "#87afaf",
    "white": "SYN_TEXT",
    "brightWhite": "#ffffff"
}
